t1 {
font-family: Arial;
font-size: 9;
background-color: powderblue;
}
h1{
font-family: Arial;
font-size: 9;
font: bold;
}
b{
font-family: Arial; 
font-size: 9;
}
b3 {
font-family: Arial;
font-size: 9;
color: red;
}
b5 {
font-family: Arial; 
font-size: 9;
}
text {
font-family: Arial; 
font-size: 9;
}