body {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial;
}
#submit {
    text-align: center;
    background-color: rgb(62, 61, 61);
    color: White;
    font-family: Arial;
}
#equ {
    text-align: center;
    background-color: rgb(62, 61, 61);
    color: White;
    font-family: Arial;
}
#solve {
    text-align: center;
    background-color: rgb(62, 61, 61);
    color: White;
    font-family: Arial;
}
#math-type{
    text-align: left;
    background-color: rgb(62, 61, 61);
    color: White;
    font-family: Arial; 
}